@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.home_Section {
  height: 100vh;
}
.home_Container {
  background: url(/src/assets/home_background.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}
.nav_Container {
  padding-top: 2rem;
  display: flex;
}
.navbar-brand {
  margin-right: auto;
}
.nav-Text {
  margin-left: auto;
}
.nav-Text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: end;
}
.nav-Text p h4 {
  font-weight: 700;
}
a.nav-link {
  color: #3a3a3a;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.home_ContentText {
  text-align: center;
  margin-top: 7rem;
}
.home_ContentText h3 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}
.home_ContentText h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
}
.home_ContentText h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.home_ContentText span {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.5rem;
}
.strateLine {
  height: 1px;
  width: 28rem;
  background: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.home_ContentImg {
  top: 0rem;
  z-index: 0;
  position: absolute;
  max-width: 1250px;
}
.dropDown {
  cursor: pointer;
  position: fixed;
  left: 90%;
}
img.homeFood2 {
  display: none;
}
#show_Nav {
  transform: none;
}
/*******************************MENU SECTION**************************************/
.menu {
  height: 100vh;
}
.menu_Content {
  text-align: center;
}
.menu_Title h1 {
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
}
.menu_Title p {
  font-family: "Montserrat", sans-serif;
}
.item_Img img {
  max-width: 80%;
}
.item_Title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.order_Btn {
  background: #f1d603;
  width: 30%;
  margin: auto;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.order_Btn:hover {
  scale: 1.1;
}
.item_Details p {
  max-width: 26rem;
  margin: auto;
  letter-spacing: 3px;
}
.item_Details p {
  max-width: 26rem;
  margin: auto;
  margin-bottom: 2rem;
}
.items {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
/*******************************DISCOVER EVENT SECTION**************************************/
.event_Container {
  text-align: center;
}
.event_Title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.event_Title span h1 {
  font-family: "Fredericka the Great", cursive;
}
.event_Title p {
  max-width: 65%;
  margin: auto;
}
.food_Collage {
  max-width: 90%;
  margin: auto;
}
img.tryout {
  margin-bottom: 2.4rem;
}
/*******************************RESERVATION SECTION**************************************/
.book_Container {
  text-align: center;
  max-width: 90%;
  margin: auto;
}
.booking_Title h3 {
  font-family: "Montserrat", sans-serif;
}
.booking_Title h1 {
  font-family: "Fredericka the Great", cursive;
}
.from {
  max-width: 50%;
  margin: auto;
}
.form_Input {
  display: grid;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.fa_Table {
  background: #f1d603;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fa_Table:hover {
  scale: 1.1;
}
.form_Input input {
  margin: 10px;
  padding: 10px;
  background: white;
  color: black;
  outline: none;
  border: 1px solid gray;
}
/*******************************FOOTER SECTION**************************************/
.footer_Container {
  background: url(./assets/footerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_Cotent {
  margin-left: auto;
  margin-right: auto;
}
.footer_Text p {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.footer_Text {
  padding: 2rem;
}
.footer_Logo {
  padding: 2rem;
}
.trade_Mark {
  color: white;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}
.contaCt {
  display: grid;
  color: white;
  justify-content: center;
  position: relative;
  font-size: larger;
}
.contaCt span {
  margin-bottom: 1rem;
  text-align: start;
  font-size: 1.3rem;
}
.contaCt span i {
  margin-right: 2rem;
  color: #f1d603;
}
.social {
  text-align: center;
  color: white;
  position: relative;
}
.social i {
  font-size: 2rem;
  padding: 1px 3px 10px 30px;
  color: #f1d603;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.social i:hover{
  scale: 1.1;
}
@media screen and (min-width: 320px) {
  .home_Section {
    height: auto;
  }
  .nav_Logo {
    width: 7rem;
  }
  .dropDown {
    width: 3rem;
  }
  .home_ContentText {
    width: 100%;
  }
  .navbar-brand {
    margin-left: 1rem;
  }
  .nav-Text {
    margin-right: 1rem;
  }
  ul.nav {
    text-align: center;
    display: block;
    top: 0;
    transform: translateY(-100vh);
    line-height: 7rem;
    position: absolute;
    backdrop-filter: blur(1px);
    width: 75%;
    left: 55px;
    border-radius: 0px 10px 0px 10px;
    background: #fffdf0d1;
    transition: all 0.5s ease-in;
  }
  .strateLine {
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .home_ContentImg {
    display: none;
  }
  img.homeFood2 {
    display: block;
    margin: auto;
  }
  /*******************************MENU SECTION**************************************/
  .menu {
    height: auto;
  }
  .order_Btn {
    width: 45%;
  }
  img.tryout {
    margin-bottom: 0.4rem;
    max-width: 110%;
  }
  /*******************************RESERVATION SECTION**************************************/
  .from {
    max-width: 85%;
    margin: auto;
  }
  .from_Row {
    display: block;
  }
  /*******************************FOOTER SECTION**************************************/
  img.footerLogo {
    width: 15rem;
  }
  .footer_Row {
    display: grid;
    width: 100%;
  }
  .footer_Cotent {
    padding: 0;
    max-width: 100%;
  }
  .row.footer_Row .col-6 {
    width: 100%;
  }
  .trade_Mark {
    position: relative;
    top: 9rem;
    padding-left: 2rem;
  }
  .contaCt {
    top: -8rem;
  }
  .social {
    top: -6rem;
  }
}

@media screen and (min-width: 768px) {
  .home_ContentText {
    width: 100%;
  }
  .homeFood2 {
    display: block;
    margin: auto;
  }
  .navbar-brand {
    margin-left: 3rem;
  }
  .nav-Text {
    margin-right: 3rem;
  }
  /*******************************MENU SECTION**************************************/
  .order_Btn {
    width: 20%;
  }
  /*******************************DISCOVER EVENT SECTION**************************************/
  .food_Collage {
    max-width: 90%;
    margin: auto;
  }
  /*******************************FOOTER SECTION**************************************/
  .footer_Cotent {
    max-width: 90%;
  }
  .row.footer_Row {
    display: flex;
  }
  .row.footer_Row .col-6 {
    width: 50%;
  }
  .trade_Mark {
    position: unset;
  }
  .contaCt {
    top: 14rem;
  }
  .social {
    top: 20rem;
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .home_Container {
    height: 80%;
  }
  .dropDown {
    display: none;
  }
  ul.nav {
    transform: translateY(12vh);
    display: flex;
    background-color: transparent;
    z-index: 1;
    justify-content: flex-end;
    line-height: normal;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 11rem;
  }
  .home_ContentText {
    width: 56%;
  }
  .home_ContentImg {
    display: block;
  }
  img.homeFood2 {
    display: none;
  }
  .item_Container {
    display: flex;
  }
  /*******************************MENU SECTION**************************************/
  .menu {
    height: 100vh;
  }
  .order_Btn {
    width: 40%;
  }
  /*******************************RESERVATION SECTION**************************************/
  .from {
    max-width: 50%;
    margin: auto;
  }
  .from_Row {
    display: flex;
  }
  /*******************************FOOTER SECTION**************************************/
  .footer_Cotent {
    max-width: 90%;
    padding: 3rem;
  }
  .social {
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  .home_Container {
    height: 100vh;
  }
  .nav_Logo {
    width: 10rem;
  }
  ul.nav {
    transform: translateY(12vh);
    margin-left: 16rem;
  }
  /*******************************DISCOVER EVENT SECTION**************************************/
  img.tryout {
    margin-bottom: 2.3rem;
    max-width: 110%;
  }
  /*******************************RESERVATION SECTION**************************************/
  .from {
    max-width: 45%;
  }
   /*******************************FOOTER SECTION**************************************/
  .footer {
    margin-bottom: -2rem;
}
}
